<!-- box_four_columns -->
<div class="teaser-outer-wrap box-four-columns">
  <div class="teaser-headline">
    <!--p><span>Zusatztitel, p, span, id=nps_marker</span></p-->
    <%= scrivito_tag :p, widget, :subtitle %>
    <%= scrivito_tag :h2, widget, :title %>
  </div>
  <div class="teaser-inner-wrap ">
    <div class="row equal">
      <!-- render teaser list -->


      <!-- four_columns_item -->
      <!-- start caching -->

      <div class="large-3 medium-3 small-6 columns" style="height: 324px;">
        <%= scrivito_tag :div, widget, :column1 %>
      </div>
      <!-- end caching -->
      <!-- /four_columns_item -->


      <!-- four_columns_item -->
      <!-- start caching -->

      <div class="large-3 medium-3 small-6 columns" style="height: 324px;">
        <%= scrivito_tag :div, widget, :column2 %>
      </div>
      <!-- end caching -->
      <!-- /four_columns_item -->


      <!-- four_columns_item -->
      <!-- start caching -->

      <div class="large-3 medium-3 small-6 columns" style="height: 324px;">
        <%= scrivito_tag :div, widget, :column3 %>
      </div>
      <!-- end caching -->
      <!-- /four_columns_item -->


      <!-- four_columns_item -->
      <!-- start caching -->

      <div class="large-3 medium-3 small-6 columns" style="height: 324px;">
        <%= scrivito_tag :div, widget, :column4 %>
      </div>
      <!-- end caching -->
      <!-- /four_columns_item -->


    </div>
  </div>
  <!-- /box_four_columns -->
</div>
