<!DOCTYPE html>
<html>
<head>
  <title>ScrivitoExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= scrivito_header_tags %>

  <% if inplace_editing_allowed? %>
    <%= javascript_include_tag 'editing' %>
    <%= stylesheet_link_tag 'editing' %>
  <% end %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'ScrivitoExample', cms_path(homepage), class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <%= scrivito_after_content_tags %>
</body>
</html>
