<!DOCTYPE html>
<html>
<head>
  <title>ScrivitoExample</title>
  <%= scrivito_head_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= scrivito_body_tags %>
  <div id="wrap">
    <%= render 'layouts/navigation' %>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <p class="text-muted">
        View additional information at
        <a href="https://www.scrivito.com">scrivito.com</a>.
      </p>
    </div>
  </div>
</body>
</html>
